<div class="w3-yellow w3-container" style="height: 20%;">
  <div *ngIf="statusService.statusString.length">
    <span>{{statusService.statusString}}</span>
  </div>
  <div *ngIf="!showWelcome">
    <span>Login: <input [(ngModel)]="login"></span>
    <span>Password: <input type="password" [(ngModel)]="password"></span>
    <button class="w3-button" (click)="getUser();">Log on</button>
    <span>&nbsp;|&nbsp;OFNotes {{version}}</span>
  </div>
  <div *ngIf="showWelcome">
    <span>Hello {{user.login}}!</span>
    <nav>
      <button class="w3-button" *ngIf='user.id===1' routerLink="/users" routerLinkActive="active">users</button>
      <button class="w3-button" routerLink="/notes" routerLinkActive="active">notes</button>
      <button class="w3-button" routerLink="/setups" routerLinkActive="active">setups</button>
      <button class="w3-button" routerLink="/account" routerLinkActive="active">account</button>
      <button class="w3-button" (click)="showWelcome = !showWelcome;">Change account</button>
      <span>&nbsp;|&nbsp;OFNotes {{version}}</span>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
